DB_VOLUME=.data/db  # MySQL data directory
SSL_VOLUME=.data/ssl  # SSL key and cert directory
STATIC_VOLUME=.data/static  # Django `STATIC_ROOT`
VAR_VOLUME=.data/var  # Mount point for various /usr/local/var subdirectories
